.navbar {
  background: linear-gradient(to right, #fda085, #f6d365, #fda085);
  background-size: 600% 100%;
  animation: gradient 6s ease-in-out infinite;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
